.imageCharts {
  width: 100%;
  height: 100%;


  :global {

    @media (prefers-color-scheme: light) {}

    @media (prefers-color-scheme: dark) {}
  }
}

.lineCharts {
  width: 100%;
  height: 100%;


  :global {

    @media (prefers-color-scheme: light) {}

    @media (prefers-color-scheme: dark) {}
  }
}