.headerToolbar {
  height: 50px;
  min-height: 50px;
  width: 100%;
  line-height: 50px;
  padding: 0 16px;
  border-bottom: 1px solid rgba(144, 144, 144, 0.5);
  box-sizing: border-box;
  justify-content: space-between;
  position: relative;

  :global {}
}