.CCDPage {
  width: 100%;
  height: 100%;


  :global {
    .ccd-page-header-box {
      height: 32px;
      min-height: 32px;
      max-height: 32px;
      padding: 0 16px;
      gap: 16px;
      border-bottom: 1px solid rgba(144, 144, 144, .3);
    }

    .ccd-page-body-box {
      width: 100%;
      height: 100%;

      .ccd-main-box {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;

        &-plugin-panel {
          height: 100%;
          margin-right: 16px;
          background-color: rgba(144, 144, 144, .3);
          z-index: 1;

          &-search-box {
            height: 32px;
            line-height: 32px;

            .ant-input-outlined {
              border-left: 0;
            }
          }

          &-body {
            height: calc(100% - 32px);
            width: 100%;
            font-size: 13px;

            &-type {
              width: 112px;
              height: 100%;
              background-color: rgba(144, 144, 144, .1);

              &-first {
                width: 50%;
                height: 100%;
                background-color: rgba(144, 144, 144, .1);
                overflow: auto;

                &-item {
                  padding: 8px;
                  cursor: pointer;

                  .icon {
                    font-size: 18px;
                    margin-bottom: 2px;
                  }
                }
              }

              &-second {
                width: 50%;
                height: 100%;
                overflow: auto;

                &-item {
                  padding: 16px 8px;
                  cursor: pointer;
                }
              }
            }

            &-content {
              flex: 1;
              height: 100%;
              overflow: auto;
              padding: 16px 16px 0px;

              &-item {
                height: 160px;
                width: 100%;
                background-color: rgba(144, 144, 144, .1);
                margin-bottom: 16px;
                cursor: move;

                &-drag-box {
                  height: 100%;
                  width: 100%;
                }

                &-title {
                  height: 30px;
                  line-height: 30px;
                  width: 100%;
                  padding: 0 8px;
                  background-color: rgba(144, 144, 144, .1);
                }

                &-icon {
                  width: 100%;
                  height: calc(100% - 30px);

                  img,
                  .ant-image {
                    height: 100%;
                    width: 100%;
                  }
                }
              }
            }
          }
        }

        &-canvas {
          height: 100%;
          position: relative;

          .move-item {
            position: absolute;
            overflow: hidden;
            border: 2px solid transparent;

            &-content-box {
              height: 100%;
              width: 100%;
              background-position: 50% 50%;
              background-size: 100% 100%;

              &-title-box {
                padding: 4px 8px;
                border-bottom: 1px solid rgba(144, 144, 144, .2);

                &-title-span {
                  opacity: 0;
                }
              }

              &-body-box {
                height: 100%;
                width: 100%;
              }
            }

            &-content-box:hover {
              .move-item-content-box-title-box {
                &-title-span {
                  opacity: 1;
                }
              }
            }
          }
        }

        &-config-panel {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          width: 400px;
          z-index: 9999;

          &-title {
            width: 100%;
            padding: 8px 16px;
            font-weight: bold;
            font-size: 16px;
            border-bottom: 1px solid rgba(144, 144, 144, .2);
          }

          &-body {
            height: 100%;
            width: 100%;
            padding: 0 16px;
            overflow: auto;
          }

          &-footer {
            width: 100%;
            padding: 4px 16px;
            gap: 16px;
            border-top: 1px solid rgba(144, 144, 144, .2);
          }
        }
      }

      .ccd-main-box::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: radial-gradient(circle, rgba(144, 144, 144, .3) 1px, transparent 1px);
        background-size: 10px 10px;
        /* you can adjust the spacing of dots by changing these values */
        opacity: 0.5;
        z-index: 0;
        /* you can adjust the opacity of the dots */
      }
    }

    .ccd-page-footer-box {
      height: 32px;
      min-height: 32px;
      max-height: 32px;
      border-top: 1px solid rgba(144, 144, 144, .3);
    }

    @media (prefers-color-scheme: light) {
      .ccd-page-body-box {
        .ccd-main-box {
          &-plugin-panel {
            background-color: rgb(240, 240, 240);

            .font-selected-self {
              background-color: rgb(240, 240, 240);
            }
          }

          &-canvas {
            background-color: rgb(235, 235, 235);

            .move-item {
              &-content-box {
                background-color: rgb(230, 230, 230);
              }
            }
          }

          &-config-panel {
            background-color: rgb(240, 240, 240);
          }
        }
      }

      .ccd-page-footer-box {
        background-color: rgb(255, 255, 255);
      }
    }

    @media (prefers-color-scheme: dark) {
      .ccd-page-body-box {
        .ccd-main-box {
          &-plugin-panel {
            background-color: rgb(15, 15, 15);

            .font-selected-self {
              background-color: rgb(15, 15, 15);
            }
          }

          &-canvas {
            background-color: rgb(20, 20, 20);

            .move-item {
              &-content-box {
                background-color: rgb(35, 35, 35);
              }
            }
          }

          &-config-panel {
            background-color: rgb(15, 15, 15);
          }
        }
      }

      .ccd-page-footer-box {
        background-color: rgb(0, 0, 0);
      }
    }
  }
}